In [78]:
# pandas 라이브러리를 Import하기
import pandas as pd

In [79]:
# 데이터 파일을 읽어오기
#pd 판다스로 read_csv csv를 읽어 보는 것
#그리고 해당 데이터를 변수화
rocks=pd.read_csv('data/rocksamples.csv') #경로 포함해서 이름
rocks

         ID   Mission     Type   Subtype  Weight (g)  Pristine (%)
0     10001  Apollo11     Soil  Unsieved      125.80         88.36
1     10002  Apollo11     Soil  Unsieved     5629.00         93.73
2     10003  Apollo11   Basalt  Ilmenite      213.00         65.56
3     10004  Apollo11     Core  Unsieved       44.80         71.76
4     10005  Apollo11     Core  Unsieved       53.40         40.31
...     ...       ...      ...       ...         ...           ...
2224  79528  Apollo17  Breccia  Regolith        2.38        100.00
2225  79529  Apollo17  Breccia  Regolith        1.84        100.00
2226  79535  Apollo17  Breccia  Regolith        1.69        100.00
2227  79536  Apollo17  Breccia  Regolith        1.66        100.00
2228  79537  Apollo17  Breccia  Regolith        1.05        100.00

[2229 rows x 6 columns]

In [80]:
# 데이터프레임 처음과 마지막 5개행 확인하기
rocks.head()

      ID   Mission    Type   Subtype  Weight (g)  Pristine (%)
0  10001  Apollo11    Soil  Unsieved       125.8         88.36
1  10002  Apollo11    Soil  Unsieved      5629.0         93.73
2  10003  Apollo11  Basalt  Ilmenite       213.0         65.56
3  10004  Apollo11    Core  Unsieved        44.8         71.76
4  10005  Apollo11    Core  Unsieved        53.4         40.31

In [81]:
rocks.tail()

         ID   Mission     Type   Subtype  Weight (g)  Pristine (%)
2224  79528  Apollo17  Breccia  Regolith        2.38         100.0
2225  79529  Apollo17  Breccia  Regolith        1.84         100.0
2226  79535  Apollo17  Breccia  Regolith        1.69         100.0
2227  79536  Apollo17  Breccia  Regolith        1.66         100.0
2228  79537  Apollo17  Breccia  Regolith        1.05         100.0

In [82]:
rocks.sample()

        ID   Mission  Type Subtype  Weight (g)  Pristine (%)
401  15092  Apollo15  Soil   1-2mm         2.7         90.74

In [83]:
#rock_samples 데이터프레임 정보 확인하기
rocks.info()

#데이터

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2229 entries, 0 to 2228
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            2229 non-null   int64
 1   Mission       2229 non-null   object
 2   Type          2229 non-null   object
 3   Subtype       2226 non-null   object
 4   Weight (g)    2229 non-null   float64
 5   Pristine (%)  2229 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 104.6+ KB

In [84]:
#rock_samples 데이터프레임 행수 확인

In [85]:
#rock_samples 데이터 프레임의 인덱스 확인
print(rocks.index)

RangeIndex(start=0, stop=2229, step=1)

In [86]:
#rock_samples 데이터프레임 열수 확인

In [87]:
#rock_samples 데이터프레임의 모양 확인

In [88]:
#rock_samples 데이터프레임의 컬럼명 확인
print(rocks.columns)

Index(['ID', 'Mission', 'Type', 'Subtype', 'Weight (g)', 'Pristine (%)'], dtype='object')

In [89]:
#rock_samples 데이터프레임 컬럼들의 데이터타입 확인
rocks.dtypes

ID                int64
Mission          object
Type             object
Subtype          object
Weight (g)      float64
Pristine (%)    float64
dtype: object

In [90]:
# rock_samples 데이터프레임 수치 데이터의 요약 통계 확인
rocks.describe()

                 ID    Weight (g)  Pristine (%)
count   2229.000000   2229.000000   2229.000000
mean   52058.432032    168.253024     84.512764
std    26207.651471    637.286458     22.057299
min    10001.000000      0.000000      0.000000
25%    15437.000000      3.000000     80.010000
50%    65527.000000     10.200000     92.300000
75%    72142.000000     93.490000     98.140000
max    79537.000000  11729.000000    180.000000

## 각 컬럼별 누락값 검사

In [91]:
# 1단계 -> rock_samples 데이터프레임에 null값이 있는지 확인
rocks.isnull()

         ID  Mission   Type  Subtype  Weight (g)  Pristine (%)
0     False    False  False    False       False         False
1     False    False  False    False       False         False
2     False    False  False    False       False         False
3     False    False  False    False       False         False
4     False    False  False    False       False         False
...     ...      ...    ...      ...         ...           ...
2224  False    False  False    False       False         False
2225  False    False  False    False       False         False
2226  False    False  False    False       False         False
2227  False    False  False    False       False         False
2228  False    False  False    False       False         False

[2229 rows x 6 columns]

In [92]:
#결측치 갯수 확인인. false:0, True:1
rocks.isnull().sum()

ID              0
Mission         0
Type            0
Subtype         3
Weight (g)      0
Pristine (%)    0
dtype: int64

In [93]:
#결측치 처리 -> 어디에 있는지 추출?
rocks['Subtype'].isnull() #+어디서있는지 리스트로 뽑기
rocks[rocks['Subtype'].isnull()]

         ID   Mission     Type Subtype  Weight (g)  Pristine (%)
89    12023  Apollo12  Special     NaN      407.90         66.89
355   15014  Apollo15  Special     NaN      333.20        100.00
1513  70149  Apollo17   Basalt     NaN        0.95          0.00

In [94]:
rocks.groupby(['Type','Subtype']).size()

Type     Subtype
Basalt   Cristobalite      1
         Feldspathic       7
         Ilmenite        184
         KREEP             3
         Olivine         115
         Pigeonite        37
         Plagioclase       1
         Unclassified      2
Breccia  Agglomerate      10
         Anorthosite      21
         Clod             17
         Feldspathic       1
         Fragmental      207
         Glass             7
         ImpactMelt      393
         Regolith        248
         Unclassified     22
         Unstudied         1
         fragmental       21
         notstudied        1
         unstudied        10
Core     Unsieved         41
         unsieved         15
Crustal  Anorthosite      20
         Cataclasite      16
         Cataclastic       3
         Fragmental        1
         Norite            4
         Pristine          1
         Troctolite        1
Soil     1-2mm           145
         2-4mm           145
         4-10mm          145
         <1mm            147
         >10mm             1
         Unsieved        230
Special  unsieved          2
dtype: int64

## 컬럼값 변환 : weight(g) -> weight(kg)

In [95]:
rocks.head(2)

      ID   Mission  Type   Subtype  Weight (g)  Pristine (%)
0  10001  Apollo11  Soil  Unsieved       125.8         88.36
1  10002  Apollo11  Soil  Unsieved      5629.0         93.73

In [96]:
rocks['Weight (g)']

0        125.80
1       5629.00
2        213.00
3         44.80
4         53.40
         ...
2224       2.38
2225       1.84
2226       1.69
2227       1.66
2228       1.05
Name: Weight (g), Length: 2229, dtype: float64

In [97]:
# 1단계 -> 컬럼값변환 : rock_samples['Weight (g)'] -> rock_samples['Weight (kg)]

#값을 기존값에서 /1000 --> kg으로 변환 +소수점 세자리 반올림
rocks['Weight (g)'] = rocks['Weight (g)']/1000
rocks['Weight (g)']
#컬럼이름을 Weight (kg)으로 변경

#선생님 답 = apply로 적용
# rocks['Weight(g)'] = df['Weight(g)'].apply(lambda x: x / 1000)

0       0.12580
1       5.62900
2       0.21300
3       0.04480
4       0.05340
         ...
2224    0.00238
2225    0.00184
2226    0.00169
2227    0.00166
2228    0.00105
Name: Weight (g), Length: 2229, dtype: float64

In [98]:
#선생님 답변 list comprehesion 사용
newcols = ['Weight (kg)' if col == 'Weight(g)' else col for col in rocks.columns]
newcols

['ID', 'Mission', 'Type', 'Subtype', 'Weight (g)', 'Pristine (%)']

In [99]:
rocks.rename(columns={'Weight (g)': 'Weight (kg)'}, inplace=True)
rocks

         ID   Mission     Type   Subtype  Weight (kg)  Pristine (%)
0     10001  Apollo11     Soil  Unsieved      0.12580         88.36
1     10002  Apollo11     Soil  Unsieved      5.62900         93.73
2     10003  Apollo11   Basalt  Ilmenite      0.21300         65.56
3     10004  Apollo11     Core  Unsieved      0.04480         71.76
4     10005  Apollo11     Core  Unsieved      0.05340         40.31
...     ...       ...      ...       ...          ...           ...
2224  79528  Apollo17  Breccia  Regolith      0.00238        100.00
2225  79529  Apollo17  Breccia  Regolith      0.00184        100.00
2226  79535  Apollo17  Breccia  Regolith      0.00169        100.00
2227  79536  Apollo17  Breccia  Regolith      0.00166        100.00
2228  79537  Apollo17  Breccia  Regolith      0.00105        100.00

[2229 rows x 6 columns]

In [100]:
rocks.columns

Index(['ID', 'Mission', 'Type', 'Subtype', 'Weight (kg)', 'Pristine (%)'], dtype='object')

In [101]:
rocks.head()

      ID   Mission    Type   Subtype  Weight (kg)  Pristine (%)
0  10001  Apollo11    Soil  Unsieved       0.1258         88.36
1  10002  Apollo11    Soil  Unsieved       5.6290         93.73
2  10003  Apollo11  Basalt  Ilmenite       0.2130         65.56
3  10004  Apollo11    Core  Unsieved       0.0448         71.76
4  10005  Apollo11    Core  Unsieved       0.0534         40.31

In [102]:
#2단계 -> 컬럼명 변환 : 'Weight(g)' -> 'Weight(kg)

## 아폴로 임무별 데이터 프레임 만들기 : missions

In [103]:
# 빈 데이터 프레임을 만들고 변수 missions에 할당한다.
missions = pd.DataFrame()
missions

Empty DataFrame
Columns: []
Index: []

In [104]:
type(missions)

pandas.core.frame.DataFrame

In [105]:
#rock_samples['Mission']의 중복되지 않은 고유값들을 알아본다.
rocks['Mission'].unique()

array(['Apollo11', 'Apollo12', 'Apollo14', 'Apollo15', 'Apollo16',
       'Apollo17'], dtype=object)

In [106]:
#위의 값들을 mission 데이터프레임의 새로운 컬럼인 mission['Mission']에 할당한다.
missions['Mission']=rocks['Mission'].unique()
missions

#df + ['칼럼명']써놓으면 컬럼이름이 있으면 덮어쓰고, 없으면 추가됨 좋은 기능~

    Mission
0  Apollo11
1  Apollo12
2  Apollo14
3  Apollo15
4  Apollo16
5  Apollo17

In [107]:
# 각 미션의 고유값과 그 개수를 확인합니다.
rocks['Mission'].value_counts()

Mission
Apollo16    767
Apollo17    756
Apollo15    364
Apollo14    207
Apollo12     68
Apollo11     67
Name: count, dtype: int64

In [108]:
rocks['Subtype'].value_counts()

Subtype
ImpactMelt      393
Unsieved        271
Regolith        248
Fragmental      208
Ilmenite        184
<1mm            147
1-2mm           145
4-10mm          145
2-4mm           145
Olivine         115
Anorthosite      41
Pigeonite        37
Unclassified     24
fragmental       21
unsieved         17
Clod             17
Cataclasite      16
Agglomerate      10
unstudied        10
Feldspathic       8
Glass             7
Norite            4
KREEP             3
Cataclastic       3
Cristobalite      1
>10mm             1
Unstudied         1
notstudied        1
Plagioclase       1
Troctolite        1
Pristine          1
Name: count, dtype: int64

#### 아폴로 임무별 샘플 중량 총합

In [109]:
# rock_samples 데이터프레임의 'Mission' 컬럼을 기준으로 그룹으로 나눈다 -> groupby()
# 나누어진 그룹에서 'weight (kg)' 컬럼의 총합을 구한다 -> groupby('Mission')['weight (kg)].sum()
# 결국 아폴로 달탐사 임무별로 수집해온 암석 샘플 총중량을 구해서 새로운 변수에 할당한다. -> 이 변수는 시리즈이다.

sample_total_weight = rocks.groupby('Mission')['Weight (kg)'].sum()

In [110]:
# missions 데이터프레임과 sample_total_weight 시리즈를 병합한다.

missions['Weight (kg)'] = sample_total_weight.values
missions

    Mission  Weight (kg)
0  Apollo11     21.55424
1  Apollo12     34.34238
2  Apollo14     41.83363
3  Apollo15     75.39910
4  Apollo16     92.46262
5  Apollo17    109.44402

In [111]:
# 컬럼명을 'Weight (kg)' 을 'Sample weight (kg)'으로 변경한다.
missions.rename(columns={'Weight (kg)': 'Sample W.(kg)'}, inplace=True)
missions

    Mission  Sample W.(kg)
0  Apollo11       21.55424
1  Apollo12       34.34238
2  Apollo14       41.83363
3  Apollo15       75.39910
4  Apollo16       92.46262
5  Apollo17      109.44402

In [112]:
# 임무간 중량 차이 구하기
missions['Sample W.(kg)'].diff()

0         NaN
1    12.78814
2     7.49125
3    33.56547
4    17.06352
5    16.98140
Name: Sample W.(kg), dtype: float64

In [113]:
# 임무간 중량 차이 구하기  >> 열간 차이 구하는 거 
missions['Sample W.(kg)'].diff()

0         NaN
1    12.78814
2     7.49125
3    33.56547
4    17.06352
5    16.98140
Name: Sample W.(kg), dtype: float64

In [114]:
# 아폴로 임무간의 수집해온 암석 샘플 총중량 차이를 나타내는 컬럼 'Weight diff'를 missions 데이터프레임에 추가
missions['Weight diff'] = missions['Sample W.(kg)'].diff()

In [115]:
# 아폴로 11은 그 전 달탐사가 없어 NaN 값을 가지므로 결측치 0으로 채우기
missions.fillna(value=0, inplace=True)
missions

    Mission  Sample W.(kg)  Weight diff
0  Apollo11       21.55424      0.00000
1  Apollo12       34.34238     12.78814
2  Apollo14       41.83363      7.49125
3  Apollo15       75.39910     33.56547
4  Apollo16       92.46262     17.06352
5  Apollo17      109.44402     16.98140

In [116]:
# 달탐사선 = 달모듈 + 명령모듈 --> 이 둘을 합쳐서 승무원 모듈
# 달 모듈의 이름, 중량 컬럼을 missions 데이터프레임에 추가
달모듈이름 = ['Eagle (LM-5)', 'Intrepid (LM-6)', 'Antares (LM-8)', 'Falcon (LM-10)', 'Orion (LM-11)', 'Challenger (LM-12)']
달모듈중량 = [15103, 15235, 15264, 16430, 16445, 16456]

missions['Luner Module(LM)'] = 달모듈이름
missions['LM mass(kg)'] =달모듈중량
missions

    Mission  Sample W.(kg)  Weight diff    Luner Module(LM)  LM mass(kg)
0  Apollo11       21.55424      0.00000        Eagle (LM-5)        15103
1  Apollo12       34.34238     12.78814     Intrepid (LM-6)        15235
2  Apollo14       41.83363      7.49125      Antares (LM-8)        15264
3  Apollo15       75.39910     33.56547      Falcon (LM-10)        16430
4  Apollo16       92.46262     17.06352       Orion (LM-11)        16445
5  Apollo17      109.44402     16.98140  Challenger (LM-12)        16456

In [117]:
# 아폴로 임무별로 달모듈 중량 차이를 구해서 새로운 컬럼 'LM mass diff'를 만들어서  missions 데이터프레임에 추가
missions['LM mass diff'] =missions['LM mass(kg)'].diff()
missions

,Mission,Sample W.(kg),Weight diff,Luner Module(LM),LM mass(kg),LM mass diff
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,NaN
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0

In [118]:
# 결측치가 있다면 0으로 채우기 **fillna > 값없는거 채우기 fill na !
#아래 순서대로

In [119]:
#결측치 찾기
missions.isnull().sum()

Mission             0
Sample W.(kg)       0
Weight diff         0
Luner Module(LM)    0
LM mass(kg)         0
LM mass diff        1
dtype: int64

In [120]:
#결측치 처리 -> 어디에 있는지 추출
missions['LM mass diff'].isnull() #+어디서있는지 리스트로 뽑기
missions[missions['LM mass diff'].isnull()]

,Mission,Sample W.(kg),Weight diff,Luner Module(LM),LM mass(kg),LM mass diff
0,Apollo11,21.55424,0.0,Eagle (LM-5),15103,NaN

In [121]:
missions.fillna(value=0, inplace=True)
missions

,Mission,Sample W.(kg),Weight diff,Luner Module(LM),LM mass(kg),LM mass diff
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0

In [122]:
#명령모듈의 이름, 중량 컬럼을 missionms 데이터프레임에 추가
명령모듈이름 = ['Columbia (CSM-107]', 'Yankee Clipper (CM-100])', 'Kitty Hawk (CM-110)', 'Endeavor (CM-112)', 'Casper (CM-113)', 'America (CM-114)']
명령모듈중량 = [5560, 5609, 5758, 5875, 5840, 5960]

missions['Commend Module(CM)'] = 명령모듈이름
missions['CM mass(kg)']= 명령모듈중량
missions

,Mission,Sample W.(kg),Weight diff,Luner Module(LM),LM mass(kg),LM mass diff,Commend Module(CM),CM mass(kg)
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0,Casper (CM-113),5840
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0,America (CM-114),5960

In [123]:
missions = missions.iloc[:, :-4]
missions

    Mission  Sample W.(kg)  Weight diff    Luner Module(LM)
0  Apollo11       21.55424      0.00000        Eagle (LM-5)
1  Apollo12       34.34238     12.78814     Intrepid (LM-6)
2  Apollo14       41.83363      7.49125      Antares (LM-8)
3  Apollo15       75.39910     33.56547      Falcon (LM-10)
4  Apollo16       92.46262     17.06352       Orion (LM-11)
5  Apollo17      109.44402     16.98140  Challenger (LM-12)

In [124]:
명령모듈이름 = ['Columbia (CSM-107]', 'Yankee Clipper (CM-100])', 'Kitty Hawk (CM-110)', 'Endeavor (CM-112)', 'Casper (CM-113)', 'America (CM-114)']
명령모듈중량 = [5560, 5609, 5758, 5875, 5840, 5960]

missions['Commend Module(CM)'] = 명령모듈이름
missions['CM mass(kg)']= 명령모듈중량
missions

,Mission,Sample W.(kg),Weight diff,Luner Module(LM),Commend Module(CM),CM mass(kg)
0,Apollo11,21.55424,0.00000,Eagle (LM-5),Columbia (CSM-107],5560
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),Yankee Clipper (CM-100]),5609
2,Apollo14,41.83363,7.49125,Antares (LM-8),Kitty Hawk (CM-110),5758
3,Apollo15,75.39910,33.56547,Falcon (LM-10),Endeavor (CM-112),5875
4,Apollo16,92.46262,17.06352,Orion (LM-11),Casper (CM-113),5840
5,Apollo17,109.44402,16.98140,Challenger (LM-12),America (CM-114),5960

In [125]:
missions['LM mass diff']=missions['LM mass(kg)'].diff()
missions['CM mass diff']=missions['CM mass(kg)'].diff()
missions.fillna(value=0, inplace=True)
missions

KeyError: 'LM mass(kg)'

In [ ]:
#임무간 명령 모듈 중량 차이 구하기기
#아폴로 임무별로 명령모듈 중량 차이를 구해서 새로운 컬럼 'CM Mass diff'를 만들어 missions 데이터프레임에 추가

,Mission,Sample weight (kg),Weight diff,Lunar module (LM),LM mass (kg),LM mass diff,Command Module (CM),CM Mass (kg),CM mass diff
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560,0.0
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609,49.0
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758,149.0
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875,117.0
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0,Casper (CM-113),5840,-35.0
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0,America (CM-114),5960,120.0

In [ ]:
# 승무원영역 = 달모듈 + 명령모듈
# 달 모듈과 명령모듈 중량을 합한 값을 'Total weight (kg)'라는 새로운 컬럼을 만들어 missions 데이터프레임에 추가

,Mission,Sample weight (kg),Weight diff,Lunar module (LM),LM mass (kg),LM mass diff,Command Module (CM),CM Mass (kg),CM mass diff,Total weight (kg)
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560,0.0,20663
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609,49.0,20844
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758,149.0,21022
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875,117.0,22305
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0,Casper (CM-113),5840,-35.0,22285
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0,America (CM-114),5960,120.0,22416

In [ ]:
# 승무원 영역을 나타내는 'Total weight (kg)'의 아폴로 임무별 중량 차이를 구하는 새로운 컬럼 'Total weight diff'를 missions 데이터프레임에 추가

,Mission,Sample weight (kg),Weight diff,Lunar module (LM),LM mass (kg),LM mass diff,Command Module (CM),CM Mass (kg),CM mass diff,Total weight (kg),Total weight diff
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560,0.0,20663,0.0
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609,49.0,20844,181.0
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758,149.0,21022,178.0
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875,117.0,22305,1283.0
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0,Casper (CM-113),5840,-35.0,22285,-20.0
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0,America (CM-114),5960,120.0,22416,131.0

In [ ]:
# 페이로드에서 승무원 영역이 차지하는 비율 구하기 -> 'Crewed area : Payload'
saturnVPayload = 43500
missions['Crewed area : Payload'] = missions['Total weight (kg)'] / saturnVPayload
missions

,Mission,Sample weight (kg),Weight diff,Lunar module (LM),LM mass (kg),LM mass diff,Command Module (CM),CM Mass (kg),CM mass diff,Total weight (kg),Total weight diff,Crewed area : Payload
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560,0.0,20663,0.0,0.475011
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609,49.0,20844,181.0,0.479172
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758,149.0,21022,178.0,0.483264
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875,117.0,22305,1283.0,0.512759
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0,Casper (CM-113),5840,-35.0,22285,-20.0,0.512299
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0,America (CM-114),5960,120.0,22416,131.0,0.515310

In [ ]:
# 승무원 영역에서 암석 샘플이 차지하는 비율 구하기 -> 'Sample : Crewed area'

,Mission,Sample weight (kg),Weight diff,Lunar module (LM),LM mass (kg),LM mass diff,Command Module (CM),CM Mass (kg),CM mass diff,Total weight (kg),Total weight diff,Crewed area : Payload,Sample : Crewed area
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560,0.0,20663,0.0,0.475011,0.001043
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609,49.0,20844,181.0,0.479172,0.001648
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758,149.0,21022,178.0,0.483264,0.001990
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875,117.0,22305,1283.0,0.512759,0.003380
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0,Casper (CM-113),5840,-35.0,22285,-20.0,0.512299,0.004149
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0,America (CM-114),5960,120.0,22416,131.0,0.515310,0.004882

In [ ]:
# 페이로드에서 샘플이 차지하는 비율 구하기 -> 'Sample : Payload'

,Mission,Sample weight (kg),Weight diff,Lunar module (LM),LM mass (kg),LM mass diff,Command Module (CM),CM Mass (kg),CM mass diff,Total weight (kg),Total weight diff,Crewed area : Payload,Sample : Crewed area,Sample : Payload
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560,0.0,20663,0.0,0.475011,0.001043,0.000495
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609,49.0,20844,181.0,0.479172,0.001648,0.000789
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758,149.0,21022,178.0,0.483264,0.001990,0.000962
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875,117.0,22305,1283.0,0.512759,0.003380,0.001733
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0,Casper (CM-113),5840,-35.0,22285,-20.0,0.512299,0.004149,0.002126
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0,America (CM-114),5960,120.0,22416,131.0,0.515310,0.004882,0.002516

## artemis_mission 데이터프레임 만들기

In [ ]:
artemis_crewedArea = 26520

artemis_dict = {'Mission' : ['artemis1', 'artemis1b', 'artemis2'],
                'Total weight (kg)' : [artemis_crewedArea, artemis_crewedArea, artemis_crewedArea],
                'Payload (kg)' : [26988, 37965, 42955]
               }

#딕셔너리를 데이터 프레임으로 저장하기
artemis_mission

NameError: name 'artemis_mission' is not defined

In [ ]:
# missions 데이터프레임에서 'Crewed area : Payload', 'Sample : Crewed area', 'Sample : payload' 의 평균값을 구한다.

0.4963026819923371
0.002848764392685611
0.0014369195019157087

In [ ]:
# missions 데이터프레임에서 'Sample weight (kg)'의 총합을 구한다.

375.03598999999997

In [ ]:
#artemis_missions 데이터 프레임에 'Sample weight from total (kg)' 컬럼을 추가한다.

     Mission  Total weight (kg)  Payload (kg)  Sample weight from total (kg)
0   artemis1              26520         26988                      75.549232
1  artemis1b              26520         37965                      75.549232
2   artemis2              26520         42955                      75.549232

In [ ]:
#artemis_mission 데이터프레임에 'Sample weight from payload (kg)' 컬럼을 추가한다.

,Mission,Total weight (kg),Payload (kg),Sample weight from total (kg),Sample weight from payload (kg)
0,artemis1,26520,26988,75.549232,38.779584
1,artemis1b,26520,37965,75.549232,54.552649
2,artemis2,26520,42955,75.549232,61.722877

In [ ]:
# artemis_mission 데이터프레임에 'Estimated sample weight (kg)' 컬럼을 추가한다.

,Mission,Total weight (kg),Payload (kg),Sample weight from total (kg),Sample weight from payload (kg),Estimated sample weight (kg)
0,artemis1,26520,26988,75.549232,38.779584,57.164408
1,artemis1b,26520,37965,75.549232,54.552649,65.050940
2,artemis2,26520,42955,75.549232,61.722877,68.636054

##아르테미스 임무에서 가져올 암석 종류 구하기

In [ ]:
# rock_samples의 5개 정보 확인하기

      ID   Mission    Type   Subtype  Weight (kg)  Pristine (%)
0  10001  Apollo11    Soil  Unsieved       0.1258         88.36
1  10002  Apollo11    Soil  Unsieved       5.6290         93.73
2  10003  Apollo11  Basalt  Ilmenite       0.2130         65.56
3  10004  Apollo11    Core  Unsieved       0.0448         71.76
4  10005  Apollo11    Core  Unsieved       0.0534         40.31

In [ ]:
# rock_samples 데이터프레임에 암석샘플의 남은 양을 나타내는 'Remaining (kg)' 컬럼추가

,ID,Mission,Type,Subtype,Weight (kg),Pristine (%),Remaining (kg)
0,10001,Apollo11,Soil,Unsieved,0.1258,88.36,0.111157
1,10002,Apollo11,Soil,Unsieved,5.6290,93.73,5.276062
2,10003,Apollo11,Basalt,Ilmenite,0.2130,65.56,0.139643
3,10004,Apollo11,Core,Unsieved,0.0448,71.76,0.032148
4,10005,Apollo11,Core,Unsieved,0.0534,40.31,0.021526

In [ ]:
# rock_samples 수치데이터 요약 통계 확인

In [ ]:
rocks

         ID   Mission     Type   Subtype  Weight (kg)  Pristine (%)
0     10001  Apollo11     Soil  Unsieved      0.12580         88.36
1     10002  Apollo11     Soil  Unsieved      5.62900         93.73
2     10003  Apollo11   Basalt  Ilmenite      0.21300         65.56
3     10004  Apollo11     Core  Unsieved      0.04480         71.76
4     10005  Apollo11     Core  Unsieved      0.05340         40.31
...     ...       ...      ...       ...          ...           ...
2224  79528  Apollo17  Breccia  Regolith      0.00238        100.00
2225  79529  Apollo17  Breccia  Regolith      0.00184        100.00
2226  79535  Apollo17  Breccia  Regolith      0.00169        100.00
2227  79536  Apollo17  Breccia  Regolith      0.00166        100.00
2228  79537  Apollo17  Breccia  Regolith      0.00105        100.00

[2229 rows x 6 columns]

In [ ]:
# rock_samples['Weight (kg)']의 모든 값이 0.16kg 이상 인지 확인
rocks.loc[(rocks['Weight (kg)']>=0.16)]

         ID   Mission     Type      Subtype  Weight (kg)  Pristine (%)
1     10002  Apollo11     Soil     Unsieved       5.6290         93.73
2     10003  Apollo11   Basalt     Ilmenite       0.2130         65.56
7     10010  Apollo11     Soil     Unsieved       0.4910         91.03
11    10017  Apollo11   Basalt     Ilmenite       0.9730         43.71
12    10018  Apollo11  Breccia     Regolith       0.2130         97.71
...     ...       ...      ...          ...          ...           ...
2187  79195  Apollo17  Breccia   Fragmental       0.3685         97.92
2189  79215  Apollo17  Crustal  Cataclasite       0.5538         93.33
2200  79241  Apollo17     Soil         <1mm       0.1743         93.24
2206  79261  Apollo17     Soil         <1mm       0.1878         86.38
2212  79511  Apollo17     Soil         <1mm       0.1792         95.88

[424 rows x 6 columns]

In [127]:
# rock_samples['Weight (kg)']이 0.16kg 이상 이면서 rock_samples['Pristine (%)']이 50 이하인지 확인
rocks.loc[(rocks['Weight(kg)']>=0.16)&(rocks['Pristine (%)']<50)]

KeyError: 'Weight(kg)'

In [128]:
#위의 두 조건을 모두 만족하는 행만 추출해서 low_samples라는 데이터 프레임을 만든다.

low_samples=rocks.loc[(rocks['Weight (kg)']>=0.16)&(rocks['Pristine (%)']<=50)]
low_samples

         ID   Mission     Type      Subtype  Weight (kg)  Pristine (%)
11    10017  Apollo11   Basalt     Ilmenite       0.9730         43.71
14    10020  Apollo11   Basalt     Ilmenite       0.4250         27.88
15    10021  Apollo11  Breccia     Regolith       0.2500         30.21
29    10045  Apollo11   Basalt      Olivine       0.1850         12.13
37    10057  Apollo11   Basalt     Ilmenite       0.9190         35.15
39    10059  Apollo11  Breccia     Regolith       0.1880         36.94
52    10072  Apollo11   Basalt     Ilmenite       0.4470         15.22
59    10086  Apollo11     Soil     Unsieved       0.8230          0.01
68    12002  Apollo12   Basalt      Olivine       1.5300         49.04
69    12003  Apollo12     Soil     Unsieved       0.3000         28.52
72    12006  Apollo12   Basalt      Olivine       0.2064          0.53
94    12028  Apollo12     Core     Unsieved       0.1896         27.56
113   12047  Apollo12   Basalt     Ilmenite       0.1930         33.70
118   12053  Apollo12   Basalt    Pigeonite       0.8790         46.43
120   12055  Apollo12   Basalt    Pigeonite       0.9120         26.00
353   15012  Apollo15     Soil     Unsieved       0.3122          5.77
354   15013  Apollo15     Soil     Unsieved       0.2962          8.80
426   15205  Apollo15  Breccia     Regolith       0.3373         24.70
534   15405  Apollo15  Breccia   ImpactMelt       0.5131         35.91
570   15475  Apollo15   Basalt    Pigeonite       0.4068         49.60
575   15498  Apollo15  Breccia     Regolith       2.3400         34.11
607   15555  Apollo15   Basalt      Olivine       9.6140         46.61
718   60016  Apollo16  Breccia   Fragmental       4.3070         49.57
722   60025  Apollo16  Breccia  Anorthosite       1.8360         43.61
1221  66075  Apollo16  Breccia   Fragmental       0.3471         32.97
1645  71566  Apollo17   Basalt     Ilmenite       0.4144         45.06
2183  79155  Apollo17   Basalt     Ilmenite       0.3188         25.97

In [129]:
low_samples.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, 11 to 2183
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            27 non-null     int64
 1   Mission       27 non-null     object
 2   Type          27 non-null     object
 3   Subtype       27 non-null     object
 4   Weight (kg)   27 non-null     float64
 5   Pristine (%)  27 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.5+ KB

In [130]:
# low_samples 데이터프레임에서 암석유형('Type')별로 개수를 센다.
low_samples['Type'].value_counts()

Type
Basalt     14
Breccia     8
Soil        4
Core        1
Name: count, dtype: int64

In [131]:
#low_samples['Type']의 값이 'Basalt'이거나 'Breccia' 인지 확인 -> isin(리스트)
low_samples['Type'].isin(['Basalt','Breccia'])

11       True
14       True
15       True
29       True
37       True
39       True
52       True
59      False
68       True
69      False
72       True
94      False
113      True
118      True
120      True
353     False
354     False
426      True
534      True
570      True
575      True
607      True
718      True
722      True
1221     True
1645     True
2183     True
Name: Type, dtype: bool

In [132]:
# low_samples['Type'] 의 값이 'Basalt'이거나 'Breccia'인 행만 추출해서 needed_samples 데이터프레임 만들기
sample_needed = low_samples.loc[low_samples['Type'].isin(['Basalt','Breccia'])]
sample_needed

         ID   Mission     Type      Subtype  Weight (kg)  Pristine (%)
11    10017  Apollo11   Basalt     Ilmenite       0.9730         43.71
14    10020  Apollo11   Basalt     Ilmenite       0.4250         27.88
15    10021  Apollo11  Breccia     Regolith       0.2500         30.21
29    10045  Apollo11   Basalt      Olivine       0.1850         12.13
37    10057  Apollo11   Basalt     Ilmenite       0.9190         35.15
39    10059  Apollo11  Breccia     Regolith       0.1880         36.94
52    10072  Apollo11   Basalt     Ilmenite       0.4470         15.22
68    12002  Apollo12   Basalt      Olivine       1.5300         49.04
72    12006  Apollo12   Basalt      Olivine       0.2064          0.53
113   12047  Apollo12   Basalt     Ilmenite       0.1930         33.70
118   12053  Apollo12   Basalt    Pigeonite       0.8790         46.43
120   12055  Apollo12   Basalt    Pigeonite       0.9120         26.00
426   15205  Apollo15  Breccia     Regolith       0.3373         24.70
534   15405  Apollo15  Breccia   ImpactMelt       0.5131         35.91
570   15475  Apollo15   Basalt    Pigeonite       0.4068         49.60
575   15498  Apollo15  Breccia     Regolith       2.3400         34.11
607   15555  Apollo15   Basalt      Olivine       9.6140         46.61
718   60016  Apollo16  Breccia   Fragmental       4.3070         49.57
722   60025  Apollo16  Breccia  Anorthosite       1.8360         43.61
1221  66075  Apollo16  Breccia   Fragmental       0.3471         32.97
1645  71566  Apollo17   Basalt     Ilmenite       0.4144         45.06
2183  79155  Apollo17   Basalt     Ilmenite       0.3188         25.97

In [133]:
# needed_samples 정보확인
sample_needed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22 entries, 11 to 2183
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            22 non-null     int64
 1   Mission       22 non-null     object
 2   Type          22 non-null     object
 3   Subtype       22 non-null     object
 4   Weight (kg)   22 non-null     float64
 5   Pristine (%)  22 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.2+ KB

In [134]:
sample_needed.head()

       ID   Mission     Type   Subtype  Weight (kg)  Pristine (%)
11  10017  Apollo11   Basalt  Ilmenite        0.973         43.71
14  10020  Apollo11   Basalt  Ilmenite        0.425         27.88
15  10021  Apollo11  Breccia  Regolith        0.250         30.21
29  10045  Apollo11   Basalt   Olivine        0.185         12.13
37  10057  Apollo11   Basalt  Ilmenite        0.919         35.15

In [135]:
# needed_samples 데이터프레임에서 'Type'으로 groupby해서 암석 샘플의 총중량의 합을 구한다
sample_needed.groupby('Type')['Weight (kg)'].sum()

Type
Basalt     17.4234
Breccia    10.1185
Name: Weight (kg), dtype: float64

In [136]:
rocks.groupby('Type').value_counts()

Type     ID     Mission   Subtype   Weight (kg)  Pristine (%)
Basalt   10003  Apollo11  Ilmenite  0.21300      65.56           1
         10017  Apollo11  Ilmenite  0.97300      43.71           1
         10020  Apollo11  Ilmenite  0.42500      27.88           1
         10022  Apollo11  Ilmenite  0.09559      42.19           1
         10024  Apollo11  Ilmenite  0.06812      40.06           1
                                                                ..
Soil     79512  Apollo17  1-2mm     0.01132      93.36           1
         79513  Apollo17  2-4mm     0.00994      89.94           1
         79514  Apollo17  4-10mm    0.01224      97.47           1
Special  69003  Apollo16  unsieved  0.00100      23.70           1
         69004  Apollo16  unsieved  0.00200      0.40            1
Name: count, Length: 2226, dtype: int64

In [137]:
# rock_samples 데이터프레임에서 'Type'으로 groupby 해서 암석 샘플의 중량의 합을 구한다. 
#           -> 아폴로 임무에서 처음부터 수집이 안된 암석을 구한다.
rocks
rocks.groupby('Type')['Weight (kg)'].sum()

#########처음부터 수집이 안된암석이라는 게 값이 없는 함수? 수집 0 값인 거??

Type
Basalt      93.14077
Breccia    168.88075
Core        19.93587
Crustal      4.74469
Soil        87.58981
Special      0.74410
Name: Weight (kg), dtype: float64

In [138]:
rocks['Type'] == 'Crustal'

0       False
1       False
2       False
3       False
4       False
        ...
2224    False
2225    False
2226    False
2227    False
2228    False
Name: Type, Length: 2229, dtype: bool

In [139]:
# rock_samples에서 'Type'이 'Crustal'. 인 행만 추출한다.
crustal=rocks[rocks['Type'] == 'Crustal']
crustal

         ID   Mission     Type      Subtype  Weight (kg)  Pristine (%)
497   15361  Apollo15  Crustal  Cataclastic      0.00090         66.56
498   15362  Apollo15  Crustal  Cataclastic      0.00420         56.88
499   15363  Apollo15  Crustal  Cataclastic      0.00050         71.00
540   15415  Apollo15  Crustal  Anorthosite      0.26940         67.07
557   15437  Apollo15  Crustal  Anorthosite      0.00100         80.00
731   60057  Apollo16  Crustal  Anorthosite      0.00310        100.00
733   60059  Apollo16  Crustal  Anorthosite      0.00105        100.00
769   60619  Apollo16  Crustal  Anorthosite      0.02800         90.75
802   61017  Apollo16  Crustal  Anorthosite      0.00262        100.00
831   61226  Apollo16  Crustal  Anorthosite      0.00153        100.00
887   61577  Apollo16  Crustal  Anorthosite      0.00021         76.19
894   62236  Apollo16  Crustal  Anorthosite      0.05727         76.76
895   62237  Apollo16  Crustal  Anorthosite      0.06235         62.81
896   62238  Apollo16  Crustal  Anorthosite      0.00157        100.00
903   62246  Apollo16  Crustal  Anorthosite      0.00459         95.49
1009  64516  Apollo16  Crustal  Anorthosite      0.00293         94.23
1012  64519  Apollo16  Crustal  Anorthosite      0.00112         95.55
1013  64525  Apollo16  Crustal  Anorthosite      0.00111         86.72
1201  65909  Apollo16  Crustal  Anorthosite      0.00202         86.36
1203  65916  Apollo16  Crustal  Anorthosite      0.00099         95.98
1313  67635  Apollo16  Crustal  Anorthosite      0.00912         87.37
1314  67636  Apollo16  Crustal  Anorthosite      0.00323         87.62
1315  67637  Apollo16  Crustal  Anorthosite      0.00234         88.68
1401  67955  Apollo16  Crustal   Fragmental      0.16260         85.94
1721  72415  Apollo17  Crustal  Cataclasite      0.03234         58.89
1722  72416  Apollo17  Crustal  Cataclasite      0.01153         64.61
1723  72417  Apollo17  Crustal  Cataclasite      0.01132          2.76
1724  72418  Apollo17  Crustal  Cataclasite      0.00355         88.25
1762  72559  Apollo17  Crustal  Cataclasite      0.02780         95.41
1793  73146  Apollo17  Crustal  Cataclasite      0.00301         90.03
1957  76235  Apollo17  Crustal  Cataclasite      0.02656         60.36
1999  76335  Apollo17  Crustal  Cataclasite      0.50289         97.14
2008  76535  Apollo17  Crustal   Troctolite      0.15550         47.89
2009  76536  Apollo17  Crustal  Cataclasite      0.01026         93.16
2032  77017  Apollo17  Crustal  Cataclasite      1.73000         93.14
2037  77077  Apollo17  Crustal  Cataclasite      0.00000         90.64
2043  77215  Apollo17  Crustal  Cataclasite      0.84640         93.03
2075  78155  Apollo17  Crustal  Cataclasite      0.00000         87.66
2086  78235  Apollo17  Crustal       Norite      0.19900         69.76
2087  78236  Apollo17  Crustal       Norite      0.00000         87.73
2088  78237  Apollo17  Crustal       Norite      0.00000          0.00
2089  78238  Apollo17  Crustal       Norite      0.00000         86.03
2092  78256  Apollo17  Crustal     Pristine      0.00000          0.00
2126  78517  Apollo17  Crustal  Cataclasite      0.00182         82.97
2130  78527  Apollo17  Crustal  Cataclasite      0.00516         82.05
2189  79215  Apollo17  Crustal  Cataclasite      0.55380         93.33

In [140]:
# needed_samples에 crustal을 추가한다.
# 변수선언안하고 crustal 자리에 type 값 바로 넣어줘도 되긴 함.

# sample_needed = pd.concat([sample_needed,rocks[rocks['Type'] == 'Crustal']])
crustal=rocks[rocks['Type'] == 'Crustal']
sample_needed = pd.concat([sample_needed,crustal])
sample_needed

         ID   Mission     Type      Subtype  Weight (kg)  Pristine (%)
11    10017  Apollo11   Basalt     Ilmenite      0.97300         43.71
14    10020  Apollo11   Basalt     Ilmenite      0.42500         27.88
15    10021  Apollo11  Breccia     Regolith      0.25000         30.21
29    10045  Apollo11   Basalt      Olivine      0.18500         12.13
37    10057  Apollo11   Basalt     Ilmenite      0.91900         35.15
...     ...       ...      ...          ...          ...           ...
2089  78238  Apollo17  Crustal       Norite      0.00000         86.03
2092  78256  Apollo17  Crustal     Pristine      0.00000          0.00
2126  78517  Apollo17  Crustal  Cataclasite      0.00182         82.97
2130  78527  Apollo17  Crustal  Cataclasite      0.00516         82.05
2189  79215  Apollo17  Crustal  Cataclasite      0.55380         93.33

[68 rows x 6 columns]

In [141]:
sample_needed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 68 entries, 11 to 2189
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            68 non-null     int64
 1   Mission       68 non-null     object
 2   Type          68 non-null     object
 3   Subtype       68 non-null     object
 4   Weight (kg)   68 non-null     float64
 5   Pristine (%)  68 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 3.7+ KB

In [142]:
sample_needed.Type.unique()

array(['Basalt', 'Breccia', 'Crustal'], dtype=object)

In [143]:
sample_needed['Type'].unique()

array(['Basalt', 'Breccia', 'Crustal'], dtype=object)

## needed samples overview 만들기

In [144]:
## 아르테미스 임무에 전달할 최종 데이터프레임 needed_samples_overview 만든다.

In [145]:
# needed samples 데이터프레임에서 중복되지 않은 암석유형을 추출한다.

In [146]:
# needed_samples 데이터프레임에서 암석유형별('Type') 중량 합을 구한다.

sample_needed.groupby('Type')['Weight (kg)'].sum()

Type
Basalt     17.42340
Breccia    10.11850
Crustal     4.74469
Name: Weight (kg), dtype: float64

In [147]:
needed_sample_weight = sample_needed.groupby('Type')['Weight (kg)'].sum().reset_index()
needed_sample_weight

      Type  Weight (kg)
0   Basalt     17.42340
1  Breccia     10.11850
2  Crustal      4.74469

In [148]:
needed_sample_average=sample_needed.groupby('Type')['Weight (kg)'].mean().reset_index()

needed_sample_average.rename(columns={'Weight (kg)':'Aver.Weight (kg)'},inplace=True)
needed_sample_average

      Type  Aver.Weight (kg)
0   Basalt          1.244529
1  Breccia          1.264813
2  Crustal          0.103145

In [149]:
# 두 데이터프레임을 병합한다.
needed_sample_overview = pd.merge(needed_sample_weight,needed_sample_average, on='Type', how='outer')
needed_sample_overview

      Type  Weight (kg)  Aver.Weight (kg)
0   Basalt     17.42340          1.244529
1  Breccia     10.11850          1.264813
2  Crustal      4.74469          0.103145

In [150]:
# 컬럼명을 변경 'Weight (kg)' -> 'Total weight (kg)'

needed_sample_overview.rename(columns={'Weight (kg)': 'Total weight (kg)'}, inplace=True)
needed_sample_overview

      Type  Total weight (kg)  Aver.Weight (kg)
0   Basalt           17.42340          1.244529
1  Breccia           10.11850          1.264813
2  Crustal            4.74469          0.103145

In [ ]:
# needed_samples 데이터프레임에서 암석유형별 중량의 평균을 구한다.

      Type  Weight (kg)
0   Basalt     1.244529
1  Breccia     1.264813
2  Crustal     0.103145

In [ ]:
# 두 데이터프레임을 병합한다.

      Type  Total weight (kg)  Weight (kg)
0   Basalt           17.42340     1.244529
1  Breccia           10.11850     1.264813
2  Crustal            4.74469     0.103145

In [151]:
# 컬럼명을 변경 'Weight (kg)' -> 'Average weight (kg)'
needed_sample_overview

      Type  Total weight (kg)  Aver.Weight (kg)
0   Basalt           17.42340          1.244529
1  Breccia           10.11850          1.264813
2  Crustal            4.74469          0.103145

In [152]:
# rock_samples 데이터프레임에서 암석유형별('Type') 개수를 구해서 total_rock_count 라는 데이터프레임을 만든다.
rocks['Type'].value_counts()

total_rock_count=pd.DataFrame(rocks['Type'].value_counts())
total_rock_count

         count
Type
Breccia    959
Soil       813
Basalt     351
Core        56
Crustal     46
Special      4

In [ ]:
rocks['Type'].value_counts()

Type
Breccia    959
Soil       813
Basalt     351
Core        56
Crustal     46
Special      4
Name: count, dtype: int64

In [ ]:
total_rock_count.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, Breccia to Special
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   count   6 non-null      int64
dtypes: int64(1)
memory usage: 96.0+ bytes

In [ ]:
rocks

         ID   Mission     Type   Subtype  Weight (kg)  Pristine (%)
0     10001  Apollo11     Soil  Unsieved      0.12580         88.36
1     10002  Apollo11     Soil  Unsieved      5.62900         93.73
2     10003  Apollo11   Basalt  Ilmenite      0.21300         65.56
3     10004  Apollo11     Core  Unsieved      0.04480         71.76
4     10005  Apollo11     Core  Unsieved      0.05340         40.31
...     ...       ...      ...       ...          ...           ...
2224  79528  Apollo17  Breccia  Regolith      0.00238        100.00
2225  79529  Apollo17  Breccia  Regolith      0.00184        100.00
2226  79535  Apollo17  Breccia  Regolith      0.00169        100.00
2227  79536  Apollo17  Breccia  Regolith      0.00166        100.00
2228  79537  Apollo17  Breccia  Regolith      0.00105        100.00

[2229 rows x 6 columns]

In [153]:
# 두 데이터프레임을 병합한다.
needed_sample_overview = pd.merge(needed_sample_overview,total_rock_count, on='Type', how='inner')
needed_sample_overview

      Type  Total weight (kg)  Aver.Weight (kg)  count
0   Basalt           17.42340          1.244529    351
1  Breccia           10.11850          1.264813    959
2  Crustal            4.74469          0.103145     46

In [154]:
# 컬럼명을 변경한다. 'ID' -> 'Number of samples'

needed_samples_overview.rename(columns={'ID' : 'Number of samples'}, inplace=True)
needed_samples_overview

NameError: name 'needed_samples_overview' is not defined

In [ ]:
# needed_samples_overview['Number of samples'] 의 총합을 구하고 total_rocks에 할당

1356

In [ ]:
# 각 암석유형별로 차지하는 비율을 구해서 'Percentage of rocks'라는 컬럼에 할당한다.

,Type,Total weight (kg),Average weight (kg),Number of samples,Percentage of rocks
0,Basalt,17.42340,1.244529,351,0.258850
1,Breccia,10.11850,1.264813,959,0.707227
2,Crustal,4.74469,0.103145,46,0.033923

In [ ]:
artemis_mission

,Mission,Total weight (kg),Payload (kg),Sample weight from total (kg),Sample weight from payload (kg),Estimated sample weight (kg)
0,artemis1,26520,26988,75.549232,38.779584,57.164408
1,artemis1b,26520,37965,75.549232,54.552649,65.050940
2,artemis2,26520,42955,75.549232,61.722877,68.636054

In [ ]:
# artemis_mission['Estimated sample weight (kg)']의 평균을 구해서 Artemis 달탐사의 에상 암석 중량을 구한다.

63.61713411579792

In [ ]:
# needed_samples_overview['Weight to collect'] 컬럼을 만든다.

,Type,Total weight (kg),Average weight (kg),Number of samples,Percentage of rocks,Weight to collect
0,Basalt,17.42340,1.244529,351,0.258850,16.467267
1,Breccia,10.11850,1.264813,959,0.707227,44.991764
2,Crustal,4.74469,0.103145,46,0.033923,2.158103

In [ ]:
# 수집할 각각의 암석 개수를 알려준다.
needed_sample_overview['rocks to collect']

,Type,Total weight (kg),Average weight (kg),Number of samples,Percentage of rocks,Weight to collect,Rocks to collect
0,Basalt,17.42340,1.244529,351,0.258850,16.467267,13.231731
1,Breccia,10.11850,1.264813,959,0.707227,44.991764,35.571884
2,Crustal,4.74469,0.103145,46,0.033923,2.158103,20.922917