2025-09-19

In [15]:
print("파이선 스타트!") # 문자열 데이터 (string)

파이선 스타트!

In [16]:
123 # 정수형 데이터 interger
36.5 # 실수형 데이터 float

36.5

In [17]:
True, False # 논리데이터 참 거짓 boolean

(True, False)

In [18]:
hello

NameError: name 'hello' is not defined

In [ ]:
print('hello')

hello

In [ ]:
type('100') ##데이터 타입물어보기

str

In [ ]:
mynumber = 100

In [ ]:
mynumber

100

In [ ]:
mynumber+10

110

연산자

In [19]:
+, -, *, /

SyntaxError: invalid syntax (1155809993.py, line 1)

In [20]:
num1 = 7
num2 = 3

In [22]:
num1 + num2

10

In [23]:
num2 / num1

0.42857142857142855

In [24]:
type(num2 / num1)

float

In [26]:
"Hello" + "World"

'HelloWorld'

In [27]:
str1 = "Hello"
str2 = "World"
num1 = 100
num2 = 200

In [28]:
str1 * str2

TypeError: can't multiply sequence by non-int of type 'str'

In [29]:
str1 * num1

'HelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHello'

In [30]:
(str1 + str2) * 3

'HelloWorldHelloWorldHelloWorld'

###비교연산자

In [31]:
같다 ==, 같지않다 !=, 크다 >, 작다 <, 크거나같다 >=, 작거나같다 <=

SyntaxError: invalid syntax (1439610722.py, line 1)

In [33]:
print(str1            + " " + str2)

Hello World

In [34]:
print(str1, str2)

Hello World

In [35]:
print(str1,str2)

Hello World

### 사용자입력

In [2]:
name = input("이름을 입력하세요 :)")
print("이름은", name, "입니다.")

이름은 ㅇㅇㅇ 입니다.

In [1]:
num1 = 7
num2 = 3

In [ ]:
# 미션
# 사용자로부터 숫자 입력을 받아서 + 1 * / 연산결과를 출력해주세요.

In [ ]:
num1 = input("첫번째 숫자를 입력하세요. :)")
num2 = input("두번째 숫자를 입력하세요. :)")

print (num1 + num2)
##문자열로 인식하기 때문에 형변환 type을 변환시켜서 정확하게 인식하는 게 만들어 줘야함

73

##형변환