2025-09-19

In [15]:
print("파이선 스타트!") # 문자열 데이터 (string)

파이선 스타트!

In [16]:
123 # 정수형 데이터 interger
36.5 # 실수형 데이터 float

36.5

In [17]:
True, False # 논리데이터 참 거짓 boolean

(True, False)

In [18]:
hello

NameError: name 'hello' is not defined

In [ ]:
print('hello')

hello

In [ ]:
type('100') ##데이터 타입물어보기

str

In [ ]:
mynumber = 100

In [ ]:
mynumber

100

In [ ]:
mynumber+10

110

연산자

In [19]:
+, -, *, /

SyntaxError: invalid syntax (1155809993.py, line 1)

In [20]:
num1 = 7
num2 = 3

In [22]:
num1 + num2

10

In [23]:
num2 / num1

0.42857142857142855

In [24]:
type(num2 / num1)

float

In [26]:
"Hello" + "World"

'HelloWorld'

In [27]:
str1 = "Hello"
str2 = "World"
num1 = 100
num2 = 200

In [28]:
str1 * str2

TypeError: can't multiply sequence by non-int of type 'str'

In [29]:
str1 * num1

'HelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHello'

In [30]:
(str1 + str2) * 3

'HelloWorldHelloWorldHelloWorld'

###비교연산자

In [31]:
같다 ==, 같지않다 !=, 크다 >, 작다 <, 크거나같다 >=, 작거나같다 <=

SyntaxError: invalid syntax (1439610722.py, line 1)

In [33]:
print(str1            + " " + str2)

Hello World

In [34]:
print(str1, str2)

Hello World

In [35]:
print(str1,str2)

Hello World

### 사용자입력

In [ ]:
name = input("이름을 입력하세요 :)")
print("이름은", name, "입니다.")

In [ ]:
num1 = 7
num2 = 3

In [ ]:
# 미션
# 사용자로부터 숫자 입력을 받아서 + 1 * / 연산결과를 출력해주세요.

In [ ]:
num1 = input("첫번째 숫자를 입력하세요. :)")
num2 = input("두번째 숫자를 입력하세요. :)")

print (num1 + num2)
##문자열로 인식하기 때문에 형변환 type을 변환시켜서 정확하게 인식하는 게 만들어 줘야함

73

##형변환

In [ ]:
num1 = int(input("첫번째 숫자를 입력하세요. :)"))
num2 = int(input("두번째 숫자를 입력하세요. :)"))

print(num1 + num2)
print(num1-num2)
print(num1*num2) 
print(num1//num2)

10
4
21
2

In [ ]:
"안녕"이라고 말했다.
'그래'라고 생각했다

SyntaxError: invalid syntax (1648942759.py, line 1)

In [ ]:
print("\"안녕\"이라고 말했다.")
##역방향 슬러시를 써야 따옴표 등의 기약속된 명령어(따옴표 등)을 str으로 표현

"안녕"이라고 말했다.

In [ ]:
print("\'낮말\'은 새가 듣고 \'밤말\'은 쥐가 듣는다.")

'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다.

In [ ]:
#f-string ( {}안은 변수로 인식 그외 값은 str 으로 인식)
num1 = 7
num2 = 3

print(num1, "+", num2, "=", num1+num2)
print(f"{num1} + {num2} = {num1+num2}")

7 + 3 = 10
7 + 3 = 10

###bool 자료형

In [ ]:
#True 참 false 거짓

In [ ]:
print(type(True))

<class 'bool'>

In [ ]:
bool(0)

False

In [ ]:
bool(100)

True

In [ ]:
bool('')

False

In [ ]:
bool('    ')

True

In [ ]:
bool(-3)

True

In [ ]:
kim = int(input("김밥 주문 갯수 입력하세요. :)"))
duk = int(input("떡볶이 주문 갯수 입력하세요. :)"))
lam = int(input("라면 주문 갯수를 입력하세요 :)"))

pr_kim = int(3000)
pr_duk = int(3500)
pr_lam = int(2500)

print(f"김밥 : {pr_kim} x {kim}개")
print(f"김밥 : {pr_duk} x {duk}개")
print(f"김밥 : {pr_lam} x {lam}개")

print(f"지불하실 금액은 {kim*pr_kim + duk*pr_duk +lam*pr_lam}원입니다")

김밥 : 3000 x 2개
김밥 : 3500 x 2개
김밥 : 2500 x 2개
지불하실 금액은 18000원입니다

In [ ]:
#조건에 따라서 명령어 실행여부가 결정 조건문 골조

#if 조건:
#       실행할 명령조건문
#밖의 명령어가 실행

In [ ]:
money=True

if money:
    print("밥을 먹자 비싼 밥")
print ('조건문 종료')

밥을 먹자 비싼 밥
조건문 종료

In [ ]:
money=False

if money:
    print("밥을 먹자 비싼 밥")
print ('조건문 종료')

조건문 종료

In [ ]:
money=True

if money:
    print("밥을 먹자 비싼 밥")
print ('조건문 종료')

밥을 먹자 비싼 밥
조건문 종료

In [ ]:
#짝수홀수 구분
# num %2 ==0 짝수

num1 =int(input("숫자를 입력해주세요"))

if num1 %2==0:
    print("짝수")
print("홀수")

홀수

In [ ]:
#짝수홀수 구분
# num %2 ==0 짝수

num1 =int(input("숫자를 입력해주세요"))

if num1 %2==0:
    print("짝수")
else:
    print("홀수")

홀수

In [ ]:
name=str(input("학생 이름을 입력해주세요"))
score_eng=int(input("영어점수를 입력하세요"))
score_mat=int(input("수학점수를 입력해주세요"))

rate_a =score_eng >=90 and score_mat >=90
rate_b =score_eng >=80 and score_mat >=80
rate_c =score_eng >=70 and score_mat >=70
rate_d =score_eng >=60 and score_mat >=60



if rate_a:
    print(f"A 학점. {name} 학생! 참 잘 했어요.")
elif rate_b:
    print(f"B 학점. {name} 학생! 잘 했어요.")
elif rate_c:
    print(f"C 학점. {name} 학생! 좀 더 노력해요.")
elif rate_d:
    print(f"D 학점. {name} 학생! 좀 더 노력해요.")
else:
    print(f"F 학점. {name} 학생! 다음 학기에 봐요 ^^.")

C 학점. 파이선 학생! 좀 더 노력해요.

In [ ]:
num=int(input("숫자를 입력해주세요"))

result = num %2

if result:
    print("홀수")
else:
    print("짝수")

ValueError: invalid literal for int() with base 10: '에아이'

##반복문

#for, while
#for : 횟수나 기준이 있고 그때 까지 반복
#while : 조건을 만족시키면 반복 종료

In [ ]:
for 변수 in 이터러블:
    반복할 문장

In [1]:
 for i in range(10) :
    print("헬로")

헬로
헬로
헬로
헬로
헬로
헬로
헬로
헬로
헬로
헬로

In [3]:
for i in range(10) :
    print(f"{i+1}헬로")

1헬로
2헬로
3헬로
4헬로
5헬로
6헬로
7헬로
8헬로
9헬로
10헬로

In [6]:
for i in range(1,10) :
    print(f"{i}헬로")
#Range 의미 : 1부터 시작하고 10 전까지.

1헬로
2헬로
3헬로
4헬로
5헬로
6헬로
7헬로
8헬로
9헬로

In [8]:
for i in range(1,10,2) :
    print(f"{i}헬로")
#Range 의미 : 1부터 시작하고 10 전까지. +2씩 start, end, step

1헬로
3헬로
5헬로
7헬로
9헬로

In [ ]:
for i in range(10,0,-3) :
    print(f"{i}헬로")
#Range 의미 : 10부터 0 사이, -3씩 start, end, step

10헬로
7헬로
4헬로
1헬로

In [22]:
#for 반복문과 range()함수를 사용해서 1~10합을 출력
sum = 0
for i in range (1,10+1):
    
    sum = sum+i
print(sum)

55

In [25]:
#for 반복문과 range()함수를 사용해서 1~10곱
multi = 1
for i in range (1,10+1):
    
    multi = multi*i
print(multi)

3628800

In [ ]:
#구구단 출력 문자

In [ ]:
while 조건 : 
    반복할 문장들

In [ ]:
i = 1
while i <=5:
    print(f"{i}번째 헬로")
    i = i +1

1번째 헬로
2번째 헬로
3번째 헬로
4번째 헬로
5번째 헬로

In [ ]:
#while문을 이용해 1-사용자부터 입력받은 정수값까지 합

sum = 0
i = 1
while i <=5:
    sum = sum+i
    i = i+1
print(sum)

15

In [7]:
#while문을 이용해 1~입력받은 정수값까지 곱
num = int(input("숫자를 입력하세요"))
multi = 1
i = 1
while i < num:
    multi = multi*i
    i = i+1
print(multi)

362880

In [20]:
#while문을 이용해 1~입력받은 구구단
#입력 숫자 * 반복숫자 = 최종값

num = int(input("숫자를 입력하세요"))
i = 1
result=num*i

while i <=9:
    print(f"{num} * {i} = {result}")
    i += 1

2 * 1 = 2
2 * 2 = 2
2 * 3 = 2
2 * 4 = 2
2 * 5 = 2
2 * 6 = 2
2 * 7 = 2
2 * 8 = 2
2 * 9 = 2

In [21]:
#while은 변수를 잘 모를 때 씀. 예를 들어서 사용자의 입력에 따라 action이 필요할따~

break, continue

In [29]:
#1부터 10까지 더하되, 합이 20이상되는 정수값! 더하다 스톱~~

sum = 0
for i in range(1,10+1,+1):
    sum +=i
    if(sum>=20):
        print(f"정수: {i}, 합계 :{sum}")
        break

정수: 6, 합계 :21

In [30]:
sum = 0
for i in range(1,10+1,+1):
    sum +=i
    if(sum>=20):
        print(f"정수: {i}, 합계 :{sum}")

정수: 6, 합계 :21
정수: 7, 합계 :28
정수: 8, 합계 :36
정수: 9, 합계 :45
정수: 10, 합계 :55

In [31]:
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
#맞는 조건까지 산출해~
for i in range(10):
    if i%3==0:
        continue
    print(i, end=" ")

1 2 4 5 7 8

In [37]:
import random
answer=random.randint(1,100)

i=0

while True:
    user=int(input("숫자를 입력하세요"))
    i+=1

    if user <answer:
        print("업!")
    elif user >answer:
        print("다운!")
    else:
        print(f"정답입니다! {i}번만에 성공했습니다!")
        break

업!
업!
다운!
다운!
업!
업!
다운!
다운!
다운!
다운!
다운!
업!
정답입니다! 13번만에 성공했습니다!

In [ ]:
#업앤다운 게임을 만들자

사용자가 입력해야해 > 입력요청을 만들어야 겠네 input 넣자 input은 숫자로 입력되어야 하니까 int 쓰고...
(사용자가 한글로 넣으면 어떻하지?? 나중에 오표기 알람 넣자)

입력하면 업/다운을 표기하고 맞추면 정답을 표기
>> if -elif - else 함수 순서대로 사용하자
언제까지 하게 할거야? 맞출때까지 할거니까 무한 루프?? >> while true?
답한 기록 쌓아서..몇번만에 맞추는지?입력횟수를 쌓아야 겠네...아까 sum 에서 사용했던 i+=1...

In [48]:
#20보다 작은 정수 중에서 3의 배수 & 5의 배수 제외하고 출력 while true 구문 사용

#3배수 : i%3==0
#5배수 : i%5==0
#제외 > break?

for i in range(20):
    if i%3==0 or i%5==0:
        continue
    print(i, end=" ")

1 2 4 7 8 11 13 14 16 17 19

In [47]:
i=0
while True:
    i +=1
    if i>=20:
        break
    if i % 3 ==0 or i%5==0:
        continue
    print(i,end=" ")

1 2 4 7 8 11 13 14 16 17 19

In [58]:
#중첩반복문 / 2-9단까지 출력
for dan in range (2,10):
    print(f"{dan}단")
    for i in range (1,9+1):
        print(f"{dan}*{i}={dan*i}")

2단
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3단
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4단
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5단
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6단
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7단
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8단
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9단
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [70]:
for dan in range (2,10):
    print(f"\n{dan}단:", end="")
    for i in range (1,9+1):
        print(f"{dan*i}",end=" ",)

2단:2 4 6 8 10 12 14 16 18
3단:3 6 9 12 15 18 21 24 27
4단:4 8 12 16 20 24 28 32 36
5단:5 10 15 20 25 30 35 40 45
6단:6 12 18 24 30 36 42 48 54
7단:7 14 21 28 35 42 49 56 63
8단:8 16 24 32 40 48 56 64 72
9단:9 18 27 36 45 54 63 72 81

In [68]:
# 2단부터 9단까지 반복
for dan in range(2, 10):
    print(f"\n--- {dan}단 ---")
    
    # 1부터 9까지 반복하며 곱하기
    for num in range(1, 10):
        result = dan * num
        print(f"{dan} * {num} = {result}")

--- 2단 ---
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

--- 3단 ---
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

--- 4단 ---
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

--- 5단 ---
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

--- 6단 ---
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

--- 7단 ---
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

--- 8단 ---
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

--- 9단 ---
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [132]:
# for k in range(1,28,2):
#     for i in range ((27-k)//2):
#         print(" ",end="")
#     for i in range(k) :
#         print("*",end="")
#     print()
import random

for k in range(1,28,2):
    # s = "*" * k
    s = ""
    for _ in range(k) :
        if random.random() < 0.1:
            s += "a"
        else:
            s += "*"
    while len(s) <= 27:
        s = " " + s + " "
    print(s)

              *
             ***
            *****
           ****a**
          *********
         **a********
        *******a*****
       a********a*****
      ******a**********
     a*******a**********
    ****a****************
   *****a*****************
  *****a*a************a****
 *******a******a****a*******

In [151]:
# for k in range(1,28,2):
#     for i in range ((27-k)//2):
#         print(" ",end="")
#     for i in range(k) :
#         print("*",end="")
#     print()

h = 13
for kk in range (h):
    k = 2*kk + 1
    s=""
    for _ in range (k):
        s="*"+s
    while len(s) <h*2-1:
        s=" " + s + " "
    print(s)

            *
           ***
          *****
         *******
        *********
       ***********
      *************
     ***************
    *****************
   *******************
  *********************
 ***********************
*************************

In [152]:
for k in range(1,28,2):
    for i in range ((27-k)//2):
        print(" ",end="")
    for i in range(k) :
        print("*",end="")
    print()

             *
            ***
           *****
          *******
         *********
        ***********
       *************
      ***************
     *****************
    *******************
   *********************
  ***********************
 *************************
***************************